interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/your-org/your-repo
  response:
    body:
      string: '{"id":51995011,"node_id":"MDEwOlJlcG9zaXRvcnk1MTk5NTAxMQ==","name":"your-repo","full_name":"your-org/your-repo","private":false,"owner":{"login":"your-org","id":17311153,"node_id":"MDEyOk9yZ2FuaXphdGlvbjE3MzExMTUz","avatar_url":"https://avatars.githubusercontent.com/u/17311153?v=4","gravatar_id":"","url":"https://api.github.com/users/your-org","html_url":"https://github.com/your-org","followers_url":"https://api.github.com/users/your-org/followers","following_url":"https://api.github.com/users/your-org/following{/other_user}","gists_url":"https://api.github.com/users/your-org/gists{/gist_id}","starred_url":"https://api.github.com/users/your-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/your-org/subscriptions","organizations_url":"https://api.github.com/users/your-org/orgs","repos_url":"https://api.github.com/users/your-org/repos","events_url":"https://api.github.com/users/your-org/events{/privacy}","received_events_url":"https://api.github.com/users/your-org/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/your-org/your-repo","description":null,"fork":false,"url":"https://api.github.com/repos/your-org/your-repo","forks_url":"https://api.github.com/repos/your-org/your-repo/forks","keys_url":"https://api.github.com/repos/your-org/your-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/your-org/your-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/your-org/your-repo/teams","hooks_url":"https://api.github.com/repos/your-org/your-repo/hooks","issue_events_url":"https://api.github.com/repos/your-org/your-repo/issues/events{/number}","events_url":"https://api.github.com/repos/your-org/your-repo/events","assignees_url":"https://api.github.com/repos/your-org/your-repo/assignees{/user}","branches_url":"https://api.github.com/repos/your-org/your-repo/branches{/branch}","tags_url":"https://api.github.com/repos/your-org/your-repo/tags","blobs_url":"https://api.github.com/repos/your-org/your-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/your-org/your-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/your-org/your-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/your-org/your-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/your-org/your-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/your-org/your-repo/languages","stargazers_url":"https://api.github.com/repos/your-org/your-repo/stargazers","contributors_url":"https://api.github.com/repos/your-org/your-repo/contributors","subscribers_url":"https://api.github.com/repos/your-org/your-repo/subscribers","subscription_url":"https://api.github.com/repos/your-org/your-repo/subscription","commits_url":"https://api.github.com/repos/your-org/your-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/your-org/your-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/your-org/your-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/your-org/your-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/your-org/your-repo/contents/{+path}","compare_url":"https://api.github.com/repos/your-org/your-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/your-org/your-repo/merges","archive_url":"https://api.github.com/repos/your-org/your-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/your-org/your-repo/downloads","issues_url":"https://api.github.com/repos/your-org/your-repo/issues{/number}","pulls_url":"https://api.github.com/repos/your-org/your-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/your-org/your-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/your-org/your-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/your-org/your-repo/labels{/name}","releases_url":"https://api.github.com/repos/your-org/your-repo/releases{/id}","deployments_url":"https://api.github.com/repos/your-org/your-repo/deployments","created_at":"2016-02-18T09:14:31Z","updated_at":"2016-02-18T09:16:04Z","pushed_at":"2021-02-02T14:38:21Z","git_url":"git://github.com/your-org/your-repo.git","ssh_url":"git@github.com:your-org/your-repo.git","clone_url":"https://github.com/your-org/your-repo.git","svn_url":"https://github.com/your-org/your-repo","homepage":null,"size":30,"stargazers_count":0,"watchers_count":0,"language":"Go","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":33,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":147,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"public","forks":33,"open_issues":147,"watchers":0,"default_branch":"master","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true},"temp_clone_token":"","custom_properties":{},"organization":{"login":"your-org","id":17311153,"node_id":"MDEyOk9yZ2FuaXphdGlvbjE3MzExMTUz","avatar_url":"https://avatars.githubusercontent.com/u/17311153?v=4","gravatar_id":"","url":"https://api.github.com/users/your-org","html_url":"https://github.com/your-org","followers_url":"https://api.github.com/users/your-org/followers","following_url":"https://api.github.com/users/your-org/following{/other_user}","gists_url":"https://api.github.com/users/your-org/gists{/gist_id}","starred_url":"https://api.github.com/users/your-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/your-org/subscriptions","organizations_url":"https://api.github.com/users/your-org/orgs","repos_url":"https://api.github.com/users/your-org/repos","events_url":"https://api.github.com/users/your-org/events{/privacy}","received_events_url":"https://api.github.com/users/your-org/received_events","type":"Organization","user_view_type":"public","site_admin":false},"network_count":33,"subscribers_count":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ef19e1daea1efa3782c28321d6ec6a581b33d462ea9dfb160e6accabf4bbd4d9"
      Last-Modified:
      - Thu, 18 Feb 2016 09:16:04 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - read:packages, read:project, repo, user
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4986'
      X-RateLimit-Reset:
      - '1771201036'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '14'
      github-authentication-token-expiration:
      - 2026-05-16 23:30:25 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/your-org/your-repo/pulls?state=closed&sort=updated&direction=desc
  response:
    body:
      string: "[{\"url\":\"https://api.github.com/repos/your-org/your-repo/pulls/162\",\"id\":3212615012,\"node_id\":\"PR_kwDOAxlhg86_fJ1k\",\"html_url\":\"https://github.com/your-org/your-repo/pull/162\",\"diff_url\":\"https://github.com/your-org/your-repo/pull/162.diff\",\"patch_url\":\"https://github.com/your-org/your-repo/pull/162.patch\",\"issue_url\":\"https://api.github.com/repos/your-org/your-repo/issues/162\",\"number\":162,\"state\":\"closed\",\"locked\":false,\"title\":\"ci:
        add Terraform plan workflow\",\"user\":{\"login\":\"frejus2025\",\"id\":257397751,\"node_id\":\"U_kgDOD1eT9w\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/257397751?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/frejus2025\",\"html_url\":\"https://github.com/frejus2025\",\"followers_url\":\"https://api.github.com/users/frejus2025/followers\",\"following_url\":\"https://api.github.com/users/frejus2025/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/frejus2025/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/frejus2025/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/frejus2025/subscriptions\",\"organizations_url\":\"https://api.github.com/users/frejus2025/orgs\",\"repos_url\":\"https://api.github.com/users/frejus2025/repos\",\"events_url\":\"https://api.github.com/users/frejus2025/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/frejus2025/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"body\":null,\"created_at\":\"2026-01-27T00:46:06Z\",\"updated_at\":\"2026-01-28T05:07:31Z\",\"closed_at\":\"2026-01-28T05:07:31Z\",\"merged_at\":null,\"merge_commit_sha\":\"ea1bab9058876684e8eb05a8271fc363da328273\",\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"draft\":false,\"commits_url\":\"https://api.github.com/repos/your-org/your-repo/pulls/162/commits\",\"review_comments_url\":\"https://api.github.com/repos/your-org/your-repo/pulls/162/comments\",\"review_comment_url\":\"https://api.github.com/repos/your-org/your-repo/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/your-org/your-repo/issues/162/comments\",\"statuses_url\":\"https://api.github.com/repos/your-org/your-repo/statuses/224ebc4b78611bc438570fe4853aa6be9ea57ecf\",\"head\":{\"label\":\"frejus2025:add-ci-workflows\",\"ref\":\"add-ci-workflows\",\"sha\":\"224ebc4b78611bc438570fe4853aa6be9ea57ecf\",\"user\":{\"login\":\"frejus2025\",\"id\":257397751,\"node_id\":\"U_kgDOD1eT9w\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/257397751?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/frejus2025\",\"html_url\":\"https://github.com/frejus2025\",\"followers_url\":\"https://api.github.com/users/frejus2025/followers\",\"following_url\":\"https://api.github.com/users/frejus2025/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/frejus2025/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/frejus2025/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/frejus2025/subscriptions\",\"organizations_url\":\"https://api.github.com/users/frejus2025/orgs\",\"repos_url\":\"https://api.github.com/users/frejus2025/repos\",\"events_url\":\"https://api.github.com/users/frejus2025/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/frejus2025/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"repo\":{\"id\":1142866907,\"node_id\":\"R_kgDORB7D2w\",\"name\":\"tradesence-ai-frejus\",\"full_name\":\"frejus2025/tradesence-ai-frejus\",\"private\":false,\"owner\":{\"login\":\"frejus2025\",\"id\":257397751,\"node_id\":\"U_kgDOD1eT9w\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/257397751?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/frejus2025\",\"html_url\":\"https://github.com/frejus2025\",\"followers_url\":\"https://api.github.com/users/frejus2025/followers\",\"f[...]
