interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/user/repos?sort=updated&direction=desc
  response:
    body:
      string: '[{"id":1142003375,"node_id":"R_kgDORBGWrw","name":"git-dev-metrics","full_name":"kobbikobb/git-dev-metrics","private":false,"owner":{"login":"kobbikobb","id":1474466,"node_id":"MDQ6VXNlcjE0NzQ0NjY=","avatar_url":"https://avatars.githubusercontent.com/u/1474466?v=4","gravatar_id":"","url":"https://api.github.com/users/kobbikobb","html_url":"https://github.com/kobbikobb","followers_url":"https://api.github.com/users/kobbikobb/followers","following_url":"https://api.github.com/users/kobbikobb/following{/other_user}","gists_url":"https://api.github.com/users/kobbikobb/gists{/gist_id}","starred_url":"https://api.github.com/users/kobbikobb/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kobbikobb/subscriptions","organizations_url":"https://api.github.com/users/kobbikobb/orgs","repos_url":"https://api.github.com/users/kobbikobb/repos","events_url":"https://api.github.com/users/kobbikobb/events{/privacy}","received_events_url":"https://api.github.com/users/kobbikobb/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/kobbikobb/git-dev-metrics","description":"Get
        simple metrics from Github","fork":false,"url":"https://api.github.com/repos/kobbikobb/git-dev-metrics","forks_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/forks","keys_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/keys{/key_id}","collaborators_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/teams","hooks_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/hooks","issue_events_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/issues/events{/number}","events_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/events","assignees_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/assignees{/user}","branches_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/branches{/branch}","tags_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/tags","blobs_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/git/refs{/sha}","trees_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/git/trees{/sha}","statuses_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/statuses/{sha}","languages_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/languages","stargazers_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/stargazers","contributors_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/contributors","subscribers_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/subscribers","subscription_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/subscription","commits_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/commits{/sha}","git_commits_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/git/commits{/sha}","comments_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/comments{/number}","issue_comment_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/issues/comments{/number}","contents_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/contents/{+path}","compare_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/compare/{base}...{head}","merges_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/merges","archive_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/downloads","issues_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/issues{/number}","pulls_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/pulls{/number}","milestones_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/milestones{/number}","notifications_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/labels{/name}","releases_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/releases{/id}","deployments_url":"https://api.github.com/repos/kobbikobb/git-dev-metrics/deployments","created_at":"2026-01-25T19:51:00Z","updated_at":"2026-02-15T22:45:25Z","pushed_at":"2026-02-15T23:18:46Z","git_url":"git://github.com/kobbikobb/git-dev-metrics.git","ssh_url":"git@github.com:kobbikobb/git-dev-metrics.git","clone_url":"https://github.com/kobbikobb/git-dev-metrics.git","svn_url":"https://github.com/kobbikobb/git-dev-metrics","homepage":null,"size":106,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"public","forks":0,"open_issues":2,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true}},{"id":941717062,"node_id":"R_kgDOOCF2Rg","name":"dotfiles","full_name":"kobbikobb/dotfiles","private":false,"owner":{"login":"kobbikobb","id":1474466,"node_id":"MDQ6VXNlcjE0NzQ0NjY=","avatar_url":"https://avatars.githubusercontent.com/u/1474466?v=4","gravatar_id":"","url":"https://api.github.com/users/kobbikobb","html_url":"https://github.com/kobbikobb","followers_url":"https://api.github.com/users/kobbikobb/followers","following_url":"https://api.github.com/users/kobbikobb/following{/oth[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/user/repos?sort=updated&direction=desc&page=2
  response:
    body:
      string: '[{"id":840650024,"node_id":"R_kgDOMhtNKA","name":"aws-lambda-xray","full_name":"kobbikobb/aws-lambda-xray","private":false,"owner":{"login":"kobbikobb","id":1474466,"node_id":"MDQ6VXNlcjE0NzQ0NjY=","avatar_url":"https://avatars.githubusercontent.com/u/1474466?v=4","gravatar_id":"","url":"https://api.github.com/users/kobbikobb","[...]
[...]
